.telefono2 {
  display: none;
}
#agregaTel {
  cursor: pointer;
}
.titulo-aviso {
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  margin: 2px;
}
.info-Fecha {
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}
.usario-registro {
  color: #00809c;
  font-weight: bold;
  font-size: 14px;
}
#infoActualizo {
  display: none;
}
.div-cont {
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.formatAtendiendo {
  margin-bottom: 0;
  color: #dc5700;
  display: none;
}
.modal-body input:required {
  -webkit-box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
}

.selectClas:required {
  -webkit-box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 7px -2px rgba(255, 0, 0, 1);
}
@media (max-width: 435px) {
  .tablaInstalaciones {
    zoom: 60%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
}
